html {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 8em;
    text-align: center;
    background-color:#cfe1b9;
}

h1 {
    font-style: normal;
    color:#718355;
    text-align: center;
    border: double;
    border-width: 14px;
    border-color: #718355;
    text-shadow: 2px 2px 4px white;
}

.btn {
    background-color: teal;
    color: green;
    border: none;
    padding:15px 32px;
    font-size: 16px;

}
