<html>
    <head>
        <meta charset="UTF-8">
        <title>title</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>

<body >
<div class="form-popup" id="myForm">
    <form action="/welcome" method="POST" class="form-container">
        <h1>Welcome to Nspire!</h1>
        
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" required>

        <button type="submit" class="btn">Continue</button>
    </form>
</div>
<h1>
    <p> We are here to help you grow into your best self, 
        nourish you with inspirational quotes, and encourage you to start journaling your thoughts and being mindful of your thoughts.</p>
    <img src = '/static/goalsw.png' width = '700' height = '320'>
    <ol> Important notes to remember:             
        <li>Each day is an accomplishment!</li> 
        <li>Encourage yourself everyday.</li>
        <li>Be mindful of what you say because your tongue has power to give life and death.</li>
    </ol>
</h1>
</body>
</html>